<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="caixa_azul">
        <div class="fundo-branco foto">
            <img src="/mgt/foto_gabriel.jpeg" alt="foto_eu">
        </div>
        <div class="fundo-branco descricao">
            <p>João Gabriel Barros Guimarães<br>Estudante de Desenvolvimento - FATEC</p>
        </div>
        <div class="social-links">
            <div class="fundo-branco link github">
                <a href="https://github.com/gabrielbguimaraes" target="_blank">GitHub</a>
            </div>
            <div class="fundo-branco link linkedin">
                <a href="https://www.linkedin.com/in/gabriel-g-854017138/" target="_blank">LinkedIn</a>
            </div>
            <div class="fundo-branco link instagram">
                <a href="https://www.instagram.com/notbiel__/" target="_blank">Instagram</a>
            </div>
        </div>
    </div>
</body>
</html>
